
            <!DOCTYPE html>
            <html lang="ar">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>تسجيل الحضور</title>
                <link rel="stylesheet" href="{{ url_for('static', filename='error.css') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename='spinner.css') }}">


            </head>
            <body>

                <div class="preloader" id="preloader">
                    <div class="spinner"></div>
                </div>

                <div class="header">Faculty of Computers And Artificial Intelligence</div>
                <div class="container">
                    <h1>تسجيل الحضور</h1>
                    <div class="message">تم تسجيل الحضور بالفعل. لا يمكن تسجيل الحضور مرة أخرى.</div>
                    <a href="/">عودة إلى النموذج</a>
                </div>
                <div class="footer">
                    <a class="footer" href="http://khaledngm11.github.io"><h2>Prepared by : Eng / Khaled Eid</h2> </a>   
     
                     <script>
                                window.addEventListener("load", function() {
                        setTimeout(function() {
                            document.getElementById('preloader').style.display = 'none';
                            document.getElementById('content').style.display = 'block';
                        }, 500); 
                    });
                </script>
            </body>
            </html>
        